.item-card {
    height: 250px;
    background: $light-gray;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px 2px transparent;
    transition: .3s;

    .base-button {
        position: absolute;
        bottom: 20px;
        right: -100%;
        transition: .3s;
    }

    &_wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &_name {
        @extend %h3;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }

    &_description {
        max-width: 200px;
        background: $dark-gray;
        position: absolute;
        height: 100%;
        z-index: 1;
        top: 0;
        left: -100%;
        padding: 20px;
        transition: .3s;
    }

    &:hover {

        border: 1px solid #42a5f5;
        box-shadow: 0px 0px 10px 0px #1e88e5;
        transition: .3s;

        .item-card_description {
            left: 0;
            transition-delay: .2s;
        }

        .base-button {
            right: 20px;
            transition-delay: .2s;
        }
    }
}