// colors
$dark-gray: #202225;
$base-gray: #292b2f;
$light-gray: #2e3136;

//text
%h1 {
    font-size: 35px;
    font-weight: 500;
}

%h3 {
    font-size: 20px;
}

//animations

%neon-animation {
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px 2px transparent;
    transition: .3s;

    &:hover {
        border: 1px solid #42a5f5;
        box-shadow: 0px 0px 10px 0px #1e88e5;
        transition: .3s;
    }
}